<div class="my-14 justify-start container">
    <div class="max-w-content  flex flex-col gap-2">

   
    {{ repeater }}
      {{# Check if the set is the 'content' type #}}
      <div class="page-content-component">
        {{ if type == 'content' }} 
            {{ content }}
        {{ /if }}
      </div>

      {{# Check if the set is the 'images' type #}}
      {{ if type == 'images' }}
          <!--Images-->
         <div class="stage mb-4 shadow-md rounded-xl">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {{ images }}
                    <div class="swiper-slide">
                        <img src="{{ url }}" alt="Stage Image">
                    </div>
                    {{ /images }}
                     
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> 
                </div>
              
            </div>
           
        </div>
      {{ /if }}

      {{# Check if the set is the 'video' type #}}
      {{ if type == 'video' }}
          <video controls>
              <source class="w-full" src="{{ video }}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
      {{ /if }}


       {{ if type == 'text_banner' }}
         <div class="w-full bg-gray-light px-6 pt-6 shadow-md mb-4">
            {{ banner_text }}
         </div>
      {{ /if }}


  {{ /repeater }}
   </div>
</div>



