<div class="stage ken-burns z-10 bg-cover bg-no-repeat min-h-150 overflow-hidden w-full"></div>

<div class="bg-white  relative z-50   ">
    <div class="relative container -top-20  md:flex md:flex-row  ">
      {{ intro_boxes }}
          <div class="box {{ index == 0 ? 'bg-green' : (index == 1 ? 'bg-yellow' : (index == 2 ? 'bg-red' : '')) }} text-white p-8 flex flex-col justify-start">
              <h3 class="text-white text-md font-bold mb-2">{{ heading }}</h3>
              <p>{{ text }}</p>
              <a href="{{ link }}" class="btn btn-contrast self-start mt-4">Read More</a>
          </div>
      {{ /intro_boxes }}
    </div>
</div>