.ar {
    direction: rtl;
    /* Other RTL-specific styles */
}

.asni-header {
    .dropdown-submenu {
        transition: opacity 0.2s ease;
        opacity: 0;
        display: none;
    }

    .dropdown-submenu.show {
        opacity: 1;
        display: block;
    }
}


.stage {
    height: 60vh;
    overflow: hidden; // This ensures that any content exceeding the stage height is clipped

    .swiper-container {
        height: 100%;

        .swiper-slide {
            height: 100%;
            display: flex;
            align-items: center; // This will vertically center the image in the slide
            justify-content: center; // This will horizontally center the image in the slide

            img {
                width: 100%; // This ensures the image takes the full width of the slide
                height: 100%;
                object-fit: cover; // This will cover the slide area without distorting the image
            }
        }
    }
}

.page-content-component {
    a {
        @apply font-bold underline text-secondary;
    }
    ul {
        @apply list-disc ml-4;   
    }

    img {
        margin-bottom: 20px;
        @apply shadow-md rounded-xl;
    }
}

.swiper-container {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
        background-size: 20px 20px; // Adjust the background image size
        transform: translateY(-50%); // To vertically center
        @apply bg-secondary p-1 rounded-full text-white top-1/2 h-10 w-10;

        &:hover {
           @apply bg-primary;
        }
    }

    .swiper-button-next {
        right: 10px; // Adjust distance from the right
        &::after {
            font-size: 16px; // Adjust the arrow size
        }
    }

    .swiper-button-prev {
        left: 10px; // Adjust distance from the left
        &::after {
            font-size: 16px; // Adjust the arrow size
        }
    }
}


:lang(ar) {
    direction: rtl;
    text-align: right; 
}


:lang(ar) .home-three-images-title h3{
    text-align: left;
    margin-left: 30px;
}

